---
import type { TranslationFunction } from '../lib/translations'

export interface Props {
  _: TranslationFunction
}

const { _ } = Astro.props

const sectionTitleStyles =
  'mt-1 border-b border-accent2 p-0 font-semibold text-md uppercase text-right'
---

<>
  <h3 class={sectionTitleStyles}>
    <span>{_('Other')}</span>
  </h3>
  <div class="p-3 border-l border-accent2">
    <div class="">
      {_('Two native languages')} (<strong>{_('Spanish')}</strong> {_('and')}{' '}
      <strong>{_('Galician')}</strong>) {_('and advanced')}{' '}
      <strong>{_('English')}</strong>.
    </div>
    <div>
      {_('Comfortable with')} <strong>{_('graphic design tools')}</strong>{' '}
      (Figma, Photoshop, Pixelmator...).
    </div>
    <div>
      <strong>{_('Most of my career has been remote')}.</strong>
    </div>
  </div>
</>