---
const { title } = Astro.props
const sectionTitleStyles =
  'mt-1 border-b border-accent2 p-0 font-semibold text-lg uppercase text-right'
---

<div>
  <h3 class={sectionTitleStyles}>{title}</h3>
  <div class="pt-3 pb-2 pl-4 border-l border-accent2">
    <slot />
  </div>
</div>
