---
export interface Props {
  text: string
  Icon: any
}

const { text, Icon } = Astro.props
const t = Astro.locals.t
---

<span class="flex flex-col items-center justify-center mr-3 text-accent">
  <Icon size="1rem" />
  <span>{t(text)}</span>
</span>