:root {
  --color-bg: #f2f2f2;
  --color-bg2: #dfdfdf;
  --color-fg: #454545;
  --color-accent: royalblue;
  --color-accent2: darkturquoise;
  --color-border: #e0e0e0;

  font-size: 13px;
}

body.dark {
  --color-bg: #121212;
  --color-bg2: black;
  --color-fg: #f2f2f2;
  --color-accent: aquamarine;
  --color-accent2: deeppink;
  --color-border: #565656;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

body .light-hidden {
  display: none;
}
body .dark-hidden {
  display: flex;
}
body.dark .dark-hidden {
  display: none;
}
body.dark .light-hidden {
  display: flex;
}
